.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#background-img {
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: -20;
  min-width: 1700px;
}

#landscape-img {
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  position: absolute;
  height: auto;
  right: 0;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: -20;
  min-width: 300px;
  max-height: 400px;
}

.navbar {
  position: absolute;
  background-color: #24252A;
  opacity: 85%;
  width: 100%;
  height: 60px;
  left: 0px;
  top: 0px;
}

.loggedinicon{
  position: absolute;
  width: 80px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  height: 40px;
  left: 92%;
  top: 10px;
  color: white;
  background: #16c79a;
  border-radius: 24px;
  cursor: pointer;
}

.loggedinicon:hover{
  color: black;
}

#logo {
  position: absolute;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  color: white;
  font-size: larger;
  font-weight: bolder;
  height: 40px;
  left: 3%;
  top: 10px;
  transition: 0.1s;
}

#logo:hover{
color: #2bc6ff;
}

.home-text {
  position: absolute;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: black;
  width: 80px;
  height: 40px;
  left: 225px;
  top: 10px;
  background: #E5E5E5;
  border-radius: 24px;
  transition: 0.1s;
}

.home-text:hover{
background:#a6dcef;
}

.loginicon {
  position: absolute;
  width: 80px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: black;
  height: 40px;
  left: 85%;
  top: 10px;
  background:#2bc6ff;
  border-radius: 24px;
  cursor: pointer;
}

.loginicon:hover{
  color: white;
}

.logout-btn {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-size: medium;
  font-weight: bolder;
  color: white;
  background: #e40017;
  width: 80px;
  height: 40px;
  left: 87%;
  top: 10px;
  border-radius: 24px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.logout-btn:hover{
  color: black;
}

.profile {
  position: absolute;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: 40px;
  color: white;
  width: 80px;
  height: 40px;
  left: 93%;
  top: 10px;
  cursor: pointer;
}

.profile:hover{
  color:#2bc6ff;
}

.favorite {
  position: absolute;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: black;
  width: 100px;
  height: 40px;
  left: 76%;
  top: 10px;
  background: #E5E5E5;
  border-radius: 24px;
  cursor: pointer;
}

.favorite:hover{
  background: #a6dcef;
}
.destination-btn{
  position: absolute;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: black;
  width: 120px;
  height: 40px;
  left: 67%;
  top: 10px;
  background: #E5E5E5;
  border-radius: 24px;
  cursor: pointer;
  transition: 0.1s;
}

.destination-btn:hover{
  background: #a6dcef;
}

.home-page {
  padding: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container{
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .signup-form {
  padding: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 75%;
} */

.destination-container{
  padding: 4rem;
}

.destination-container h1{
  color: white;
  font-size: 50px;
}

.destination {
  display: grid;
  padding: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 5fr));
  grid-gap: 1.5rem;
  text-align: center; 
}

.destination-details{
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.destination-card{
  display: grid;
  width: 100%;
  background-color: white;
  max-height: 100%;
  max-width: 300px;
  box-shadow: 0px 1px 5px #555;
  border-radius: 20px;
  overflow: hidden;
}

.destination-card h3 {
  margin: 5px 0;
  margin-top: 10px;
}

.destination-card span{
  width: 100%;
  margin-top: -2%;
  margin-bottom: 5px;
}

.like {
  color: rgb(241, 71, 19);
  transition: color 300ms;
}

.like:hover {
  color: rgb(241, 71, 19);
}

.like:active {
  color: rgb(253, 159, 124);
}

.like:focus {
  outline: none;
}

.image-container{
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: 0.5s;
}

/* .google-img{
  
} */

.image-container img{
  width: 100%;
  transition: 0.5s;
}

.image-container img:hover{
  width: 130%;
}

.image-container img:hover .image-container{
  height: 180px;
}

.destination-card p{
  font-size: small;
  width: 100%;
  height: 100px;
  overflow-y: scroll;
}

.destination-card p::-webkit-scrollbar{
  width:0px;
}

.search {
  width: 300px;
  margin: 15px auto;
}

.search-name {
  width: 200px;
  border: none;
  /* border: 3px solid black; */
  border-right: none;
  padding: 8px 10px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.search-name:focus{
  color: #00B4CC;
}

.search-button {
  width: 40px;
  height: 36px;
  transform: translateY(2px);
  border: 1px solid black;
  background: black;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.view-more-btn, .view-more-btn:link, .view-more-btn:visited {
  text-decoration: none;
  padding: 13px 0;
  border: none;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 3px;
  transition: all .2s ease-in-out;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

.view-more-btn:hover {
  background: rgb(88, 188, 242);
  /* border: none; */
  color: #fefefe;
  /* border-radius: 20px; */
}

#checkbox-label {
  text-decoration: none;
  font-weight: bolder;
  color: black;
}

#sort-text {
  font-weight: bolder;
}

.login-form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-box{
  margin-top: 7vh;
  opacity:85%;
  background: white;
  padding-right: 80px;
  padding-left: 80px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2);
}

.form-box.solid{
  opacity:200%;
}

.login-text{
  width: 100%;
  border-bottom: 2px solid black;
  line-height: 30px;
  width: 100%;
  font-weight: bolder;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
}

label {
  width: 100%;
  text-align: center;
}

.login-box{
  border: 1px solid lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 2px;
  padding-left: 10px;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 5px;
  font-size: 11pt;
  background: transparent;
  transition: 1s;
  /* width: 100%; */
  outline: none;
}

.login-btn{
  width: 75%;
  justify-content: center;
  align-items: center;
  background-color: rgb(48,172,251);
  color: white;
  margin-top: 5px;
  border-radius: 20px;
  border: none;
  /* margin-left: 5px; */
  font-size: 15pt;
  font-weight: 700;
  transition: 1s;
  outline: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.login-btn:hover{
  transform: scale(1.03);
  letter-spacing: 4px;
  background-color: #7FFFD4;
  color: #1E90FF;
}

.signup-form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.signup-box{
  border: 1px solid lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 2px;
  padding-left: 10px;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 5px;
  font-size: 11pt;
  background: transparent;
  transition: 1s;
  outline: none;
}

.signup-btn{
  width: 75%;
  justify-content: center;
  align-items: center;
  background-color: #00FF7F;
  color: black;
  margin-top: 5px;
  border-radius: 20px;
  border: none;
  font-size: 15pt;
  font-weight: 700;
  transition: 1s;
  outline: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.signup-btn:hover{
  transform: scale(1.03);
  letter-spacing: 4px;
  color: #1E90FF;
}

#signup-text{
  width: 100%;
  border-bottom: 2px solid black;
  line-height: 30px;
  width: 100%;
  font-weight: bolder;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
}

.show {
  display: block;
  transition: 800ms;
  opacity: 1;
}

.show.active {
  /* display: none; */
  transform: translateY(100px) scale(0) rotateY(180deg);
  opacity: 0;
}

.container-box {
  display: flex;
  padding-top: 3.8rem;
}

.profile-form {
  width: 300px;
  padding: 2rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 75%;
  background-color: #24252A;
}

.favorite-list{
  width: 100%;
  border-radius: 5px;
  padding: 1em;
}

.list-container span{
  display:block;
  justify-content: center;
}

.profile-box{
  border: 1px solid lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 2px;
  padding-left: 10px;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 5px;
  font-size: 11pt;
  background: transparent;
  transition: 1s;
  color: white;
  outline: none;
}

.my-profile h1{
color:white;
}

.my-profile label{
  color: white;
}

.update-btn{
  width:50%;
  border: 1px solid lightgrey;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-weight: 600;
  margin: 5px;
  font-size: 11pt;
  background: transparent;
  cursor: pointer;
  transition: 1s;
  color: white;
  outline: none;
}

.update-btn:hover{
  transform: scale(1.03);
  letter-spacing: 2px;
}

.delete-btn i{
  margin: 5px;
}

.delete-btn {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  border: none;
  background: none;
  transition: color 300ms;
  cursor: pointer;
}

.delete-btn:hover {
  color: rgb(255, 0, 0);
}

.delete-btn:active {
  color: rgb(89, 88, 88);
}

.delete-btn:focus {
  outline: none;
}

.home-page h1{
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: italic small-caps bold 50px/2 cursive;
}

.home-page h3{
  color: white;
  font: italic small-caps bold 20px/2 cursive;
}

@media only screen and (max-width: 780px){
  .destination{
      grid-template-columns: repeat(2, 1fr);
      width: 95%;
      margin: 10px auto;
  } 
}

table{
  width: 700px;
  margin: 5px auto;
}

table tr:nth-child(1){
  width: 200px;
}
table tr:nth-child(2){
  width: 500px;
}

table, th, td {
  border: 0.5px solid lightgray;
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-details{
  margin-left: 2%;
  height: 500px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.like-btn{
  border: none;
  background: none;
  cursor: pointer;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 20px;
  margin-bottom: 10px;
  width: 80px;
  height: 30px;
  left: 225px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(253, 159, 124);
  background: #02475e;
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2);
  transition: color 300ms;
}

.like-btn:hover {
  color: rgb(241, 71, 19);
}

.like-btn:active {
  color: rgb(253, 159, 124);
}

.like-btn:focus {
  outline: none;
}

.like-btn strong{
  color: white;
}

.destination-details h4{
  margin: 0px;
}

.destination-details h3{
  border-bottom: 2px solid black;
  line-height: 30px;
}

.destination-details p{
  margin-top: 0px;
}

.fav-btn{
  border: none;
  color: white;
  padding: 15px 32px;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: rgb(253, 159, 124);
  transition: color 300ms;
}

.fav-btn:hover {
  background-color: rgb(241, 71, 19);
}

.fav-btn:active {
  background-color: rgb(253, 159, 124);
}

.flight-search-form{
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-box{
  margin-top: 1vh;
  margin-bottom: 2.5vh;
  opacity:85%;
  padding-right: 300px;
  padding-left: 300px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2);
}

.search-input{
  border: 1px solid lightgrey;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 2px;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 5px;
  font-size: 11pt;
  background: transparent;
  transition: 1s;
  width: 100%; 
}

.flight-button{
  width: 25%;
  justify-content: center;
  align-items: center;
  background-color: #00FF7F;
  color: black;
  margin-top: 5px;
  border-radius: 20px;
  border: none;
  font-size: 15pt;
  font-weight: 700;
  transition: 1s;
  outline: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.flight-button:hover{
  transform: scale(1.03);
  letter-spacing: 4px;
  color: #1E90FF;
}

.photo-container img{
height: 300px;
margin:0 10px;
}

/* .show-more-btn{
  justify-content: center;
  align-items: center;
} */

.photo-container{
  height: 300px;
  width:100%;
  display: flex;
}

.photo-container div:nth-child(1){
  width:80%
}

.photo-container div:nth-child(2){
  width:20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flight-button.more{
  font-size: 10pt;
  width: 200px;
}