.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#background-img {
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: -20;
  min-width: 1700px;
}

#landscape-img {
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  position: absolute;
  height: auto;
  right: 0;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: -20;
  min-width: 300px;
  max-height: 400px;
}

.navbar {
  position: absolute;
  background-color: #24252A;
  opacity: 60%;
  width: 100%;
  height: 60px;
  left: 0px;
  top: 0px;
}

.loggedinicon{
  position: absolute;
  width: 80px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  height: 40px;
  left: 92%;
  top: 10px;
  background: #E5E5E5;
  border-radius: 24px;
  cursor: pointer;
}

#logo {
  position: absolute;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  color: white;
  font-size: larger;
  font-weight: bolder;
  height: 40px;
  left: 3%;
  top: 10px;
}

.home-text {
  position: absolute;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: black;
  width: 80px;
  height: 40px;
  left: 225px;
  top: 10px;
  background: #E5E5E5;
  border-radius: 24px;
}

.loginicon {
  position: absolute;
  width: 80px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: black;
  height: 40px;
  left: 85%;
  top: 10px;
  background: #E5E5E5;
  border-radius: 24px;
  cursor: pointer;
}

.logout-btn {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-size: medium;
  font-weight: bolder;
  color: black;
  width: 80px;
  height: 40px;
  left: 87%;
  top: 10px;
  border-radius: 24px;
  border: 1px solid #E5E5E5;
  background: #E5E5E5;
  text-decoration: none;
  cursor: pointer;
}

.profile {
  position: absolute;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: 40px;
  color: white;
  width: 80px;
  height: 40px;
  left: 93%;
  top: 10px;
  cursor: pointer;
}

.favorite {
  position: absolute;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: black;
  width: 100px;
  height: 40px;
  left: 76%;
  top: 10px;
  background: #E5E5E5;
  border-radius: 24px;
  cursor: pointer;
}

.destination-btn{
  position: absolute;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: black;
  width: 120px;
  height: 40px;
  left: 67%;
  top: 10px;
  background: #E5E5E5;
  border-radius: 24px;
  cursor: pointer;
}

.home-page {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-form {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container{
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.destination-container{
  padding: 4rem;
}

.destination {
  display: grid;
  padding: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 5fr));
  grid-gap: 1.5rem;
  text-align: center; 
}

.destination-details{
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.destination-card{
  display: grid;
  width: 100%;
  background-color: white;
  max-height: 100%;
  max-width: 300px;
  box-shadow: 0px 1px 5px #555;
  border-radius: 20px;
  overflow: hidden;
}

.destination-card h3 {
  margin: 5px 0;
  margin-top: 10px;
}

.image-container{
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: 0.5s;
}

.image-container img{
  width: 100%;
  transition: 0.5s;
}

.image-container img:hover{
  width: 130%;
}

.image-container img:hover .image-container{
  height: 180px;
}

.destination-card p{
  font-size: small;
  width: 100%;
  height: 120px;
  overflow-y: scroll;
}

.destination-card p::-webkit-scrollbar{
  width:0px;
}
.search {
  width: 300px;
  margin: 15px auto;
}

.search-name {
  width: 200px;
  border: none;
  /* border: 3px solid black; */
  border-right: none;
  padding: 8px 10px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.search-name:focus{
  color: #00B4CC;
}

.search-button {
  width: 40px;
  height: 36px;
  transform: translateY(2px);
  border: 1px solid black;
  background: black;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
/* .wrap-search{
  width: 20%;
  display: fixed;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.view-more-btn {
  text-decoration: none;
  border: none;
  background-color: #343A40;
  border-radius: 4px;  
  color: #fff;
  cursor: pointer;
  padding: 8px 16px;
  font-weight: bolder;
}

.view-more-btn-1:hover {
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    animation:slidebg 5s linear infinite;
}

@media only screen and (max-width: 780px){
  .destination{
      grid-template-columns: repeat(2, 1fr);
      width: 95%;
      margin: 10px auto;
  } 
}
/* wip */