.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#background-img {
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: -20;
  min-width: 1700px;
}

.navbar {
  position: absolute;
  background-color: #24252A;
  opacity: 60%;
  width: 100%;
  height: 60px;
  left: 0px;
  top: 0px;
}

.loggedinicon{
  position: absolute;
  width: 80px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  height: 40px;
  left: 92%;
  top: 10px;
  background: #E5E5E5;
  border-radius: 24px;
  cursor: pointer;
}

#logo {
  position: absolute;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  color: white;
  font-size: larger;
  font-weight: bolder;
  height: 40px;
  left: 3%;
  top: 10px;
}

.home-text {
  position: absolute;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: black;
  width: 80px;
  height: 40px;
  left: 225px;
  top: 10px;
  background: #E5E5E5;
  border-radius: 24px;
}

.loginicon {
  position: absolute;
  width: 80px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: black;
  height: 40px;
  left: 85%;
  top: 10px;
  background: #E5E5E5;
  border-radius: 24px;
  cursor: pointer;
}

.logout-btn {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-size: medium;
  font-weight: bolder;
  color: black;
  width: 80px;
  height: 40px;
  left: 87%;
  top: 10px;
  border-radius: 24px;
  border: 1px solid #E5E5E5;
  background: #E5E5E5;
  text-decoration: none;
  cursor: pointer;
}

.profile {
  position: absolute;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: 40px;
  color: white;
  width: 80px;
  height: 40px;
  left: 93%;
  top: 10px;
  cursor: pointer;
}

.favorite {
  position: absolute;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: black;
  width: 100px;
  height: 40px;
  left: 76%;
  top: 10px;
  background: #E5E5E5;
  border-radius: 24px;
  cursor: pointer;
}

.destination-btn{
  position: absolute;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: black;
  width: 120px;
  height: 40px;
  left: 68%;
  top: 10px;
  background: #E5E5E5;
  border-radius: 24px;
  cursor: pointer;
}

.home-page {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-form {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container{
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.destination-container{
  padding: 4rem;
}

.destination {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 5fr));
  grid-gap: 5rem;
  text-align: center; 
}

.destination-details{
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.destination-card{
  display: grid;
  width: 100%;
  max-height: 500px;
  max-width: 300px;
}

.destination-card{
  box-shadow: 0px 1px 5px #555;
}

.destination-card img{
  width: 100%;
  border-radius: 20px;
  margin: 10px 0;
}

.destination-card p{
  font-size: small;
}

.search {
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
}

.search-name {
  width: 100%;
  border: 3px solid black;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.search-name:focus{
  color: #00B4CC;
}

.search-button {
  width: 40px;
  height: 36px;
  border: 1px solid black;
  background: black;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap-search{
  width: 20%;
  display: fixed;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.view-more-btn {
  border: none;
  display: block;
  position: relative;
  padding: 0.5em 2em;
  font-size: 25px;
  background: transparent;
  cursor: pointer;
  user-select: none;
  color: var(--main-color);
  overflow: hidden;
  font-weight: bold;
}

.view-more-btn span {
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: transparent;
z-index: -1;
border: 5px solid black;
}

.view-more-btn span::before {
content: "";
position: absolute;
width: 5%;
height: 500%;
background: white;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) rotate(-60deg);
transition: all 0.3s;
}

.view-more-btn:hover span::before,
.view-more-btn:focus span::before {
transform: translate(-50%, -50%) rotate(-90deg);
width: 100%;
background:#2c3e50;
transition-delay: 0.1s;
}

.view-more-btn:hover,
.view-more-btn:focus {
color: white;
}

@media only screen and (max-width: 780px){
  .destination{
      grid-template-columns: repeat(2, 1fr);
      width: 95%;
      margin: 10px auto;
  } 
}
/* Auth is working */